@import "tailwindcss";
@import "@fontsource/montserrat-alternates";
@import "@fontsource/montserrat-alternates/800";
@import "@fontsource/montserrat-alternates/900";
@import '@fontsource/montserrat';
@theme {
  --font-display: 'Montserrat', sans-serif;
  --font-primary: 'Montserrat Alternates', sans-serif;
  --color-primary: #283618;
  --color-secondary: #FEFAE0;
  --color-brown: #DDA15E;
  --color-green: #606C38;
}

html {
  scroll-behavior: smooth;
}